<nav class="navbar navbar-expand-lg navbar-light bg-light py-4 fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#home">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link link-home active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-project" href="#project">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-about-me" href="#about-me">About Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
